/* features.css */

.feature-container {
    display: inline-block;
    margin-top: 0.6rem;
  }
  .feature-box {
    display: flex;
    flex-direction: column;
    flex: 0 1 20%;
    text-align: center;
    margin: 1rem;
    justify-content: space-around;
  }
  
  .feature-img {
    width: 17.5rem;
    height: 12rem;
    border-radius: 8%;
  }
  
  .feature-button {
    width: 8em;
    margin-top: 0.5rem;
    margin-left: 1.3rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: 500;
  }
  

  
  /* Large screens (desktops) */
  @media only screen and (min-width: 1200px) {
    .feature-box {
      flex: 0 1 25%;
    }
    .feature-img {
      width: 17.5rem;
      height: 15rem;
    }
    .feature-button {
      width: 10em;
    }
  }
  
  /* Medium screens (tablets) */
  @media only screen and (min-width: 768px) and (max-width: 1199px) {
    .feature-box {
      flex: 0 1 30%;
    }
    .feature-img {
      width: 15rem;
      height: 10rem;
    }
    .feature-button {
      width: 8em;
    }
  }
  
  /* Small screens (mobiles) */
  @media only screen and (max-width: 767px) {
    .feature-box {
      flex: 0 1 50%;
    }
    .feature-img {
      width: 20rem;
      height: 12rem;
      margin-left: 1.3rem;
    }
    .feature-button {
      width: 6em;
      margin-left: 3rem;
    }
  }