.image-auto-scroll {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.images-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
}

.image {
  min-width: 100%;
  height: 50%;
  object-fit: cover; 
  cursor: pointer;
}

.image:not(.active) {
  display: none;
}