.idfeature-container {
    display: inline-block;
    margin-top: 0.6rem;
    background-color: #31a7e2;
    border-radius: 2rem;
    margin: 1rem;
    width: 22vw;
  }
  
  .idfeature-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background: var(--color-footer);
  }
  
  .idfeature-img {
    width: 100%;
    height: 50%;
    background: var(--color-bg);
  }
  
  .idfeature-img img {
    width: 100%;
    height: 50%;
    border-radius: 5px;
  }
  
  .idfeature-container h1 {
    font-size: 2em;
    color: white;
    padding: 0.1rem;
  }
  
  .idfeature-container h2 {
    font-size: 1em;
    color: white;
    padding: 0.1rem;
  }
  
  .idfeature-button {
    width: 8em;
    margin-top: 1rem;
    margin-left: 4.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: 500;
  }
  
  /* Media queries */
  

  /* For small screens (mobiles) */
@media only screen and (max-width: 600px) {
    .idfeature-container {
       width: 90%;
       margin: 1rem;
     }
    .idfeature-box {
       flex-direction: column;
     }
    .idfeature-img {
       height: 150px;
     }
    .idfeature-container h1 {
       font-size: 1.5em;
     }
    .idfeature-container h2 {
       font-size: 0.8em;
     }
    .idfeature-button {
       width: 6em;
       margin-top: 0.7rem;
       margin-left: 3rem;
     }
     /* Add this to show only one container at a time */
    .idfeature-container {
       display: flex;
       flex-wrap: wrap;
     }
    .idfeature-box {
       flex: 0 0 100%;
     }
   }
  
  
  /* For medium screens (tablets) */
  @media only screen and (min-width: 601px) and (max-width: 900px) {
   .idfeature-container {
      width: 30vw;
      margin: 0.5rem;
    }
   .idfeature-box {
      flex-direction: column;
    }
   .idfeature-img {
      height: 200px;
    }
   .idfeature-container h1 {
      font-size: 1.8em;
    }
   .idfeature-container h2 {
      font-size: 1em;
    }
   .idfeature-button {
      width: 7em;
      margin-top: 0.5rem;
      margin-left: 3rem;
    }
  }
  
  /* For large screens (desktops) */
  @media only screen and (min-width: 901px) {
   .idfeature-container {
      width: 22vw;
      margin: 1rem;
    }
   .idfeature-box {
      flex-direction: column;
    }
   .idfeature-img {
      height: 250px;
    }
   .idfeature-container h1 {
      font-size: 2em;
    }
   .idfeature-container h2 {
      font-size: 1.2em;
    }
   .idfeature-button {
      width: 8em;
      margin-top: 1rem;
      margin-left: 4.5rem;
    }
  }